.section {
  margin: 3px 0;
}

html {
  border: 1px solid #d0d0d0;
  border-top: none;
  user-select: none;
}
input {
  user-select: unset;
}

body {
  background-color: #f7f7f7;
  padding-top: 64px;
}

li.nav-item.active {
  border-bottom: 2px solid #ff6600 !important;
}
li.nav-item {
  border-bottom: 2px solid transparent;
}
li.nav-item:hover {
  border-bottom: 2px solid rgba(255,255,255,.75);
}

button:focus {
  outline: none;
}


.app-titlebar {
  width: 100%;
  height: 28px;
  /* user-select: none; */
  /* -webkit-app-region: drag; */
  background-color: #343a40;
  display: flex;
}

.app-titlebar-caption {
  -webkit-app-region: drag;
  font-size: 14px;
  color: #f7f7f7;
  text-align: center;
  width: -webkit-fill-available;
  padding: 4px 0 0 44px;
}

.app-titlebar-button button {
  width: 44px;
  height: 28px;
  padding: 0 8px;
  /* background-color: transparent; */
  border: none;
  color: #ffffff;
}

.app-titlebar-button button img {
  width: 22px;
  max-height: 22px;
  padding: 0px 0px 5px 0;
  margin: 0;
}

.app-titlebar-button.mnu button {
  background-color: transparent;
}
.app-titlebar-button.mnu button:hover {
  background-color: #5c6670;
}

.app-titlebar-button.min button {
  background-color: transparent;
}
.app-titlebar-button.min:hover button {
  background-color: #5c6670;
}

.app-titlebar-button.cls button {
  background-color: transparent;
}
.app-titlebar-button.cls:hover button {
  background-color: #ff3333;
}


.modal-body::-webkit-scrollbar {
  width: 4px;
  background-color: #efefef;
}
.modal-body::-webkit-scrollbar-button {
  display: none;
}
.modal-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.45);
}






.card {
  border: none!important;
}
/* .navbar a {
  padding: .5rem 1rem;
  width: auto;
  margin: auto;
  color: #ff6600;
  text-decoration: none;
  background-color: #f8f9fa;
  display: flex;
} */

div.options {
  /* height: calc(100vh - 150px); */
  height: calc(100vh - 143px); /* redesign */
}

nav.navbar {
  user-select: none;
}

.form-control:focus {
  border-color: #ff6600;
  box-shadow: 0 0 0 0.15rem rgba(255, 102, 0, 0.2);
}

.btn-outline-endi:hover {
  color: #fff;
  background-color: #ff6600;
  border-color: #ff6600;
}
.btn-outline-endi {
  color: #ff6600;
  border-color: #ff6600;
}
.btn-outline-endi:disabled {
  color: #ff6600;
  background-color: transparent;
}
input[type=checkbox]:focus, input[type=radio]:focus {
  outline: #ff6600 auto 1px;
}
.btn-outline-endi.focus, .btn-outline-endi:focus {
  box-shadow: 0 0 0 0.15rem rgba(255, 102, 0, 0.2);
}

/*  */
#fade {
  background: rgba(0,0,0,0.4);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
}
#fade.show {
  display: block;
}
.modal {
  max-width: unset;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal.show {
  display: block;
}
.cartModal {
  margin-left: 5%;
  margin-right: 5%;
  max-width: none;
  /* margin-top: 5%;
  margin-bottom: 5%; */
}
/*  */

.nav-item.active .nav-link {
  color: #ff6600!important;
}