.section {
  margin: 3px 0;
}

body {
  background-color: #f7f7f7;
  padding-top: 64px;
}

.card {
  border: none!important;
}
/* .navbar a {
  padding: .5rem 1rem;
  width: auto;
  margin: auto;
  color: #ff6600;
  text-decoration: none;
  background-color: #f8f9fa;
  display: flex;
} */

.nav-item.active .nav-link {
  color: #ff6600!important;
}