<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>encalc</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="js/vue.min.js"></script> -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container-fluid px-0">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="row w-100 mx-0">
        <ul class="navbar-nav w-100 mx-0" style="justify-content: space-around;">
          <li class="nav-item"><a class="nav-link" href="vizit.html">Визитки</a></li>
          <li class="nav-item"><a class="nav-link" href="flyers.html">Листовки</a></li>
          <li class="nav-item"><a class="nav-link" href="blanks.html">Бланки</a></li>
          <li class="nav-item"><a class="nav-link" href="booklets.html">Буклеты и каталоги</a></li>
          <li class="nav-item"><a class="nav-link" href="eurobooklets.html">Евробуклеты</a></li>
          <li class="nav-item"><a class="nav-link" href="calendars.html">Календари</a></li>
          <li class="nav-item active"><a class="nav-link" href="notes.html">Блокноты</a></li>
          <li class="nav-item"><a class="nav-link" href="envelope.html">Конверты</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <main id="notesCalc" class="container-fluid px-0 mt-5 pt-2">

    Входные данные:
    Вид бумаги для картона
    Формат блокнота (А4, А5, А6)
    Количество листов блока
    Вид бумаги для блока
    Цветность печати блока (20% / 100% запечатки, количество цветов 0+0, 1+0, 2+0)
    Цветность печати обложки (20% / 100% запечатки, только 4+0)
    
    <div class="section">
      Тип картона:
      <select name="" id="cardboardType">
        <option value="dizcrd">диз. картон</option>
        <option value="normal">обычный картон</option>
      </select>
    </div>
    
    <div class="section">
      Бумага:
      <select name="" id="visitCards-paper">
        <option v-for="type in db['paperTypes']" :value="type">{{ type }}</option>
      </select>
    </div>

    <div class="section">
      Цветность:
      <select name="" id="visitCards-color">
        <option value="4+0">4+0</option>
        <option value="4+4">4+4</option>
      </select>
    </div>
    
    <div class="section">
      Тираж:
      <input v-model="edition" type="number" placeholder=""></input>
    </div>
    
    <div class="section">
      Постпечатная обработка:
      <input type="checkbox" name="lam" v-model="isLaminated"><label for="lam">ламинация обложки</label>
      <input type="checkbox" name="corners" v-model="isCorners"><label for="corners">скругление углов блока</label>
    </div>

    <div class="section">
      <button @click="getTotal">рассчитать</button>
    </div>

  </main>

  <script src="js/tmp-notes.js"></script>
</body>
</html>