<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>encalc</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="js/vue.min.js"></script> -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container-fluid px-0">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm">
      <div class="row w-100 mx-0">
        <ul class="navbar-nav w-100 mx-0" style="justify-content: space-around;">
          <li class="nav-item"><a class="nav-link" href="vizit.html">Визитки</a></li>
          <li class="nav-item"><a class="nav-link" href="flyers.html">Листовки</a></li>
          <li class="nav-item"><a class="nav-link" href="blanks.html">Бланки</a></li>
          <li class="nav-item"><a class="nav-link" href="booklets.html">Буклеты и каталоги</a></li>
          <li class="nav-item"><a class="nav-link" href="eurobooklets.html">Евробуклеты</a></li>
          <li class="nav-item"><a class="nav-link" href="calendars.html">Календари</a></li>
          <li class="nav-item active"><a class="nav-link" href="notes.html">Блокноты</a></li>
          <li class="nav-item"><a class="nav-link" href="envelope.html">Конверты</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <main id="notesCalc" class="container-fluid px-0 mt-5 pt-2">
    
    <div class="section">
      Вид бумаги для картона:
      <select name="" id="notes-cover">
        <option v-for="type in db['paperTypes']" :value="type">{{ type }}</option>
      </select>
    </div>

    <div class="section">
      Вид бумаги для блока:
      <select name="" id="notes-paper">
        <option v-for="type in db['paperTypes']" :value="type">{{ type }}</option>
      </select>
    </div>

    <div class="section">
      Формат блокнота:
      <select name="" id="notes-format">
        <option value="А4">А4</option>
        <option value="А5">А5</option>
        <option value="А6">А6</option>
      </select>
    </div>

    <div class="section">
      Цветность печати блока:
      <select name="" id="notes-block-fill">
        <option value="20">20%</option>
        <option value="100">100%</option>
      </select>
      <select name="" id="notes-block-color">
        <option value="1+0">0+0</option>
        <option value="0+0">1+0</option>
        <option value="0+0">2+0</option>
      </select>
    </div>

    <div class="section">
      Цветность печати обложки (только 4+0):
      <select name="" id="notes-cover-fill">
        <option value="20">20%</option>
        <option value="100">100%</option>
      </select>
    </div>

    <div class="section">
      Количество листов блока:
      <input v-model="blockPages" type="number" placeholder=""></input>
    </div>
    
    <div class="section">
      Тираж:
      <input v-model="edition" type="number" placeholder=""></input>
    </div>
    
    <div class="section">
      Постпечатная обработка:
      <input type="checkbox" name="lam" v-model="isLaminated"><label for="lam">ламинация обложки</label>
    </div>

    <div class="section">
      <button @click="getTotal">рассчитать</button>
    </div>

  </main>

  <script src="js/tmp-notes.js"></script>
</body>
</html>