<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>encalc</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container-fluid px-0">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="row w-100 mx-0">
        <ul class="navbar-nav w-100 mx-0" style="justify-content: space-around;">
          <li class="nav-item active"><a class="nav-link" href="vizit.html">Визитки</a></li>
          <li class="nav-item"><a class="nav-link" href="flyers.html">Листовки</a></li>
          <li class="nav-item"><a class="nav-link" href="blanks.html">Бланки</a></li>
          <li class="nav-item"><a class="nav-link" href="boolets.html">Буклеты и каталоги</a></li>
          <li class="nav-item"><a class="nav-link" href="eurobooklets.html">Евробуклеты</a></li>
          <li class="nav-item"><a class="nav-link" href="calendars.html">Календари</a></li>
          <li class="nav-item"><a class="nav-link" href="notes.html">Блокноты</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <main id="vizitCardsCalc" class="container-fluid px-0 mt-5 pt-2">
    
    <div class="row mx-2">
      <div class="col card mx-2 mt-2">
        <div class="row mx-1 my-2"><div class="col mx-0 my-0">
          Тип картона:
          <select name="" id="cardboardType">
            <option value="dizcrd">диз. картон</option>
            <option value="normal">обычный картон</option>
          </select>
        </div></div>
        <div class="row mx-1 my-2"><div class="col mx-0 my-0">
          Бумага:
          <select name="" id="visitCards-paper">
            <option v-for="type in db['paperTypes']" :value="type">{{ type }}</option>
          </select>
        </div></div>
        <div class="row mx-1 my-2"><div class="col mx-0 my-0">
          Цветность:
          <select name="" id="visitCards-color">
            <option value="4+0">4+0</option>
            <option value="4+4">4+4</option>
          </select>
        </div></div>
      </div>
      <div class="col card mx-2 mt-2">
        <div class="row mx-1 my-2"><div class="col mx-0 my-0">
          Тираж:
          <input v-model="edition" type="number" placeholder=""></input>
        </div></div>
        <div class="row mx-1 my-2"><div class="col mx-0 my-0">
          Постпечатная обработка:
          <input type="checkbox" name="lam" v-model="isLaminated"><label for="lam">ламинация обложки</label>
          <input type="checkbox" name="corners" v-model="isCorners"><label for="corners">скругление углов блока</label>
        </div></div>
      </div>
    </div>
    <div class="row mx-2">
      <div class="col mx-2 mt-2">
        <button
          type="button disabled"
          class="btn btn-outline-primary d-flex mx-auto"
          @click="getTotal"
          v-if="edition != undefined"
        >
          рассчитать
        </button>
        <button
          type="button disabled"
          class="btn btn-outline-primary d-flex mx-auto"
          @click="getTotal"
          v-else
          disabled
        >
          рассчитать
        </button>
      </div>
    </div>


    <!-- <div class="section">
      Тип картона:
      <select name="" id="cardboardType">
        <option value="dizcrd">диз. картон</option>
        <option value="normal">обычный картон</option>
      </select>
    </div>
    
    <div class="section">
      Бумага:
      <select name="" id="visitCards-paper">
        <option v-for="type in db['paperTypes']" :value="type">{{ type }}</option>
      </select>
    </div> -->

    <!-- <div class="section">
      Цветность:
      <select name="" id="visitCards-color">
        <option value="4+0">4+0</option>
        <option value="4+4">4+4</option>
      </select>
    </div> -->
    
    <!-- <div class="section">
      Тираж:
      <input v-model="edition" type="number" placeholder=""></input>
    </div>
    
    <div class="section">
      Постпечатная обработка:
      <input type="checkbox" name="lam" v-model="isLaminated"><label for="lam">ламинация обложки</label>
      <input type="checkbox" name="corners" v-model="isCorners"><label for="corners">скругление углов блока</label>
    </div>

    <div class="section">
      <button @click="getTotal">рассчитать</button>
    </div> -->

  </main>

  <script src="js/tmp-vizit.js"></script>
</body>
</html>